.heading{
    font-size: 25px;
    box-shadow: 5px 5px 5px gray;
    width: 100%;
    margin: 0px;
    font-family: monospace;
    }
    
    .note{
        font-size: 15px;
        color: black;
        
    }
    
    .copyright_footer{
        width: 100%;
        background-color:lightgray;
        position: fixed;
        bottom: 0;
        line-height: 3;
        font-family: monospace;
    }
    
    canvas{
        border: 5px solid white;
        border-radius: 20px;
        box-shadow: 5px 5px 5px grey;
    
    }
    
    